<div id="wrapper">
  <section>
    <mat-radio-button [disabled]="isNewProductValidated" (click)="onCkeckbox(true)" checked>ADD BEVERAGE FROM EXISTING BEVERAGE GROUP</mat-radio-button>
    <br>
    <mat-radio-button [disabled]="isNewProductValidated" (click)="onCkeckbox(false)">CREATE NEW BEVERAGE GROUP</mat-radio-button>
  </section>

  <div *ngIf="isAddBeverageGroup; else no">

    <div *ngIf="!isNewProductValidated" id="first">
      <div>
        <mat-divider></mat-divider>
      </div>

      <mat-form-field color="accent" appearance="fill">
        <mat-label>&nbsp;Select beverage beverage group</mat-label>
        <input matInput [matAutocomplete]="reactiveAutoBeverageGroup" [formControl]="beverageGroupControl" (focus)="onFocus()">
        <button mat-icon-button matSuffix color="accent" (click)="beverageGroupControl.patchValue('')"><mat-icon>clear</mat-icon></button>
        <mat-autocomplete #reactiveAutoBeverageGroup [displayWith]="displayFn">
          <mat-option *ngFor="let group of reactiveBeverageGroup | async" [value]="group" (click)="onSelect(group)">
            <span>{{ group.beverageGroup }}</span>
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

      <mat-form-field color="accent" appearance="fill">
        <span matPrefix *ngIf="isAllowed">
          <span>(</span>
          {{ beverageGroupControl.value.beverageGroup }}
          <span>)</span>&nbsp;
        </span>
        <mat-label>&nbsp;Enter bevarage name</mat-label>
        <input matInput [formControl]="beverageNameControl" autocomplete="off" #beverageName>
        <div matSuffix>
          <mat-icon *ngIf="beverageNameControl.status === 'PENDING'">
            <svg version="1.1" id="loader-1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="20px" height="20px" viewBox="0 0 50 50" style="enable-background:new 0 0 50 50;" xml:space="preserve">
              <path fill="#000" d="M25.251,6.461c-10.318,0-18.683,8.365-18.683,18.683h4.068c0-8.071,6.543-14.615,14.615-14.615V6.461z">
                <animateTransform attributeType="xml" attributeName="transform" type="rotate" from="0 25 25" to="360 25 25" dur="0.6s" repeatCount="indefinite"/>
              </path>
            </svg>
          </mat-icon>
          <mat-icon *ngIf="beverageNameControl.status === 'VALID'">
            <svg class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52"><circle class="checkmark__circle" cx="26" cy="26" r="25" fill="none"/><path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8"/></svg>
          </mat-icon>
          <mat-icon *ngIf="beverageNameControl.status === 'INVALID' && beverageNameControl.touched">
            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="50px" height="50px" viewBox="0 0 50 50" enable-background="new 0 0 50 50" xml:space="preserve">
              <g id="Layer_3">
                <line id="path2" fill="none" stroke="#000000" stroke-width="3" stroke-miterlimit="10" x1="8.5" y1="41.5" x2="41.5" y2="8.5"/>
                <line id="path3" fill="none" stroke="#000000" stroke-width="3" stroke-miterlimit="10" x1="41.5" y1="41.5" x2="8.5" y2="8.5"/>
              </g>
            </svg>
          </mat-icon>
          <button mat-icon-button color="accent" (click)="beverageName.value = ''"><mat-icon>clear</mat-icon></button>
          &nbsp;&nbsp;
        </div>
        <mat-error *ngIf="beverageNameErrors?.required">This is required.</mat-error>
        <mat-error *ngIf="beverageNameErrors?.pattern">Beverage name invalid.</mat-error>
        <mat-error *ngIf="beverageNameErrors?.minlength">Beverage name too short.</mat-error>
        <mat-error *ngIf="beverageNameErrors?.beverageNameDuplicate">Beverage name duplicate.</mat-error>
      </mat-form-field>
      
      <mat-form-field color="accent" appearance="fill">
        <mat-label>Enter Beverage Short Name</mat-label>
        <input matInput type="text" maxLength="14" [formControl]="beverageShortNameControl" #beverageShortName>
        <button mat-icon-button matSuffix color="accent" (click)="beverageShortNameControl.patchValue('')">
          <mat-icon>clear</mat-icon>
        </button>
        <mat-error *ngIf="beverageShortNameControl.errors?.required">This is required.</mat-error>
        <mat-hint align="end">
          {{beverageShortName.value.length}} / 14
        </mat-hint>
      </mat-form-field>

      <mat-form-field color="accent" appearance="fill">
        <mat-icon matPrefix>attach_money</mat-icon>
        <mat-label>&nbsp;Selling price</mat-label>
        <input matInput [formControl]="sellingPriceControl" type="number" autocomplete="off" #sellingPrice>
        <button mat-icon-button matSuffix color="accent" (click)="sellingPrice.value = ''"><mat-icon>clear</mat-icon></button>
        <mat-error *ngIf="sellingPriceErrors?.required">This is required.</mat-error>
        <mat-error *ngIf="sellingPriceControl.errors?.min">Selling price must be greater than 5.</mat-error>
        <mat-error *ngIf="sellingPriceControl.errors?.max">Selling price must be less than 100.</mat-error>
      </mat-form-field>

      <div>
        <button mat-raised-button [disabled]="isFirstInalid || beverageNameControl.status === 'PENDING'" (click)="onProcess()">PROCESS</button>
      </div>

      <p id="hide">|</p>
    </div>

    <div *ngIf="isNewProductValidated" id="second">
      <mat-divider></mat-divider>
      <div>
        <div id="con1">
          <div>
            <p class="light">Beverage name</p>
            <span>{{ newBeverageName }}</span>
          </div>
          <div>
            <p class="light">Beverage selling price</p>
            <span>{{ newBeverageSellingPrice }}</span>
          </div>
        </div>
        <div id="con1">
          <div>
            <p class="light">Beverage name</p>
            <span>{{ newBeverageShortName }}</span>
          </div>
          <div></div>
        </div>
        <div id="con2">
          <button mat-raised-button color="accent" (click)="onAdd()">ADD</button>
          <button mat-raised-button color="warn" (click)="onCancel()">CANCEL</button>
        </div>
      </div>
    </div>

  </div>
  <ng-template #no>

    <div *ngIf="!isNewProductValidated" id="sixth">
      <div>
        <mat-divider></mat-divider>
      </div>
      
      <form [formGroup]="form">
        <mat-form-field color="accent" appearance="fill">
          <mat-label>&nbsp;Enter Beverage group</mat-label>
          <input matInput type="text" autocomplete="off" formControlName="beverageGroup" #beverageGroup>
          <div matSuffix>
            <mat-icon *ngIf="formBeverageGroup.status === 'PENDING'">
              <svg version="1.1" id="loader-1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="20px" height="20px" viewBox="0 0 50 50" style="enable-background:new 0 0 50 50;" xml:space="preserve">
                <path fill="#000" d="M25.251,6.461c-10.318,0-18.683,8.365-18.683,18.683h4.068c0-8.071,6.543-14.615,14.615-14.615V6.461z">
                  <animateTransform attributeType="xml" attributeName="transform" type="rotate" from="0 25 25" to="360 25 25" dur="0.6s" repeatCount="indefinite"/>
                </path>
              </svg>
            </mat-icon>
            <mat-icon *ngIf="formBeverageGroup.status === 'VALID'">
              <svg class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52"><circle class="checkmark__circle" cx="26" cy="26" r="25" fill="none"/><path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8"/></svg>
            </mat-icon>
            <mat-icon *ngIf="formBeverageGroup.status === 'INVALID' && formBeverageGroup.touched">
              <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="50px" height="50px" viewBox="0 0 50 50" enable-background="new 0 0 50 50" xml:space="preserve">
                <g id="Layer_3">
                  <line id="path2" fill="none" stroke="#000000" stroke-width="3" stroke-miterlimit="10" x1="8.5" y1="41.5" x2="41.5" y2="8.5"/>
                  <line id="path3" fill="none" stroke="#000000" stroke-width="3" stroke-miterlimit="10" x1="41.5" y1="41.5" x2="8.5" y2="8.5"/>
                </g>
              </svg>
            </mat-icon>
            <button mat-icon-button matSuffix color="accent" (click)="formBeverageGroup.patchValue('')"><mat-icon>clear</mat-icon></button>
          </div>
          <mat-error *ngIf="formBeverageGroup.errors?.required">This is required.</mat-error>
          <mat-error *ngIf="formBeverageGroup.errors?.nullValidator">This is required.</mat-error>
          <mat-error *ngIf="formBeverageGroup.errors?.minlength">Beverage group name too short.</mat-error>
          <mat-error *ngIf="formBeverageGroup.errors?.pattern">Beverage group name invalid.</mat-error>
          <mat-error *ngIf="formBeverageGroup.errors?.beverageGroupDuplicate">Beverage group already exists.</mat-error>
        </mat-form-field>

        <mat-form-field color="accent" appearance="fill">
          <span matPrefix>{{ beverageGroup.value }}&nbsp;</span>
          <mat-label>Enter Beverage name</mat-label>
          <input matInput type="text" autocomplete="off" formControlName="beverageName" #beverageName>
          <div matSuffix>
            <mat-icon *ngIf="formBeverageName.status === 'PENDING'">
              <svg version="1.1" id="loader-1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="20px" height="20px" viewBox="0 0 50 50" style="enable-background:new 0 0 50 50;" xml:space="preserve">
                <path fill="#000" d="M25.251,6.461c-10.318,0-18.683,8.365-18.683,18.683h4.068c0-8.071,6.543-14.615,14.615-14.615V6.461z">
                  <animateTransform attributeType="xml" attributeName="transform" type="rotate" from="0 25 25" to="360 25 25" dur="0.6s" repeatCount="indefinite"/>
                </path>
              </svg>
            </mat-icon>
            <mat-icon *ngIf="formBeverageName.status === 'VALID'">
              <svg class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52"><circle class="checkmark__circle" cx="26" cy="26" r="25" fill="none"/><path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8"/></svg>
            </mat-icon>
            <mat-icon *ngIf="formBeverageName.status === 'INVALID' && formBeverageName.touched">
              <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="50px" height="50px" viewBox="0 0 50 50" enable-background="new 0 0 50 50" xml:space="preserve">
                <g id="Layer_3">
                  <line id="path2" fill="none" stroke="#000000" stroke-width="3" stroke-miterlimit="10" x1="8.5" y1="41.5" x2="41.5" y2="8.5"/>
                  <line id="path3" fill="none" stroke="#000000" stroke-width="3" stroke-miterlimit="10" x1="41.5" y1="41.5" x2="8.5" y2="8.5"/>
                </g>
              </svg>
            </mat-icon>
            <button mat-icon-button matSuffix color="accent" (click)="formBeverageName.patchValue('')"><mat-icon>clear</mat-icon></button>
          </div>
          <mat-error *ngIf="formBeverageName.errors?.required">This is required.</mat-error>
          <mat-error *ngIf="formBeverageName.errors?.nullValidator">This is required.</mat-error>
          <mat-error *ngIf="formBeverageName.errors?.minlength">Beverage name too short.</mat-error>
          <mat-error *ngIf="formBeverageName.errors?.pattern">Beverage name invalid.</mat-error>
        </mat-form-field>

        <mat-form-field color="accent" appearance="fill">
          <mat-label>Enter Beverage Short Name</mat-label>
          <input matInput type="text" maxLength="14" formControlName="beverageShortName" #beverageShortName>
          <mat-hint align="end">
            {{beverageShortName.value.length}} / 14
          </mat-hint>
          <mat-error *ngIf="formBeverageShorName.errors?.required">This is required.</mat-error>
          <button mat-icon-button matSuffix color="accent" (click)="formBeverageShorName.patchValue('')"><mat-icon>clear</mat-icon></button>
        </mat-form-field>

        <mat-form-field color="accent" appearance="fill">
          <mat-icon matPrefix>attach_money</mat-icon>
          <mat-label>&nbsp;Selling price</mat-label>
          <input matInput type="number" autocomplete="off" formControlName="sellingPrice" #sellingPrice>
          <button mat-icon-button matSuffix color="accent" (click)="formSellingPrice.patchValue('')"><mat-icon>clear</mat-icon></button>
          <mat-error *ngIf="formSellingPrice.errors?.required">This is required.</mat-error>
          <mat-error *ngIf="formSellingPrice.errors?.min">Selling price must be greater than 5.</mat-error>
          <mat-error *ngIf="formSellingPrice.errors?.max">Selling price must be less than 100.</mat-error>
        </mat-form-field>

      </form>

      <div>
        <button mat-raised-button [disabled]="formSellingPrice.invalid || form.invalid || form.pending" (click)="onProcess2()">PROCESS</button>
      </div>

      <p id="hide">|</p>
    </div>
  
    <div *ngIf="isNewProductValidated" id="seventh">
      <mat-divider></mat-divider>
      <div>
        <div id="con1">
          <div>
            <p class="light">Beverage name</p>
            <span>{{ newBeverageName }}</span>
          </div>
          <div>
            <p class="light">Beverage selling price</p>
            <span>{{ newBeverageSellingPrice }}</span>
          </div>
        </div>
        <div id="con1">
          <div>
            <p class="light">Beverage name</p>
            <span>{{ newBeverageShortName }}</span>
          </div>
          <div></div>
        </div>
        <div id="con2">
          <button mat-raised-button color="accent" (click)="addBeverage()">ADD</button>
          <button mat-raised-button color="warn" (click)="onCancel()">CANCEL</button>
        </div>
      </div>
    </div>

  </ng-template>
</div>
