$color--green: #7ac142;
$curve: cubic-bezier(0.650, 0.000, 0.450, 1.000);

.checkmark__circle {
  stroke-dasharray: 166;
  stroke-dashoffset: 166;
  stroke-width: 2;
  stroke-miterlimit: 10;
  stroke: $color--green;
  fill: none;
  animation: stroke .6s $curve forwards;
}

.checkmark {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: block;
  stroke-width: 2;
  stroke: #fff;
  stroke-miterlimit: 10;
  margin: 10% auto;
  box-shadow: inset 0px 0px 0px $color--green;
  animation: fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both;
}

.checkmark__check {
  transform-origin: 50% 50%;
  stroke-dasharray: 48;
  stroke-dashoffset: 48;
  animation: stroke .3s $curve .8s forwards;
}

@keyframes stroke {
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes scale {
  0%, 100% {
    transform: none;
  }
  50% {
    transform: scale3d(1.1, 1.1, 1);
  }
}

@keyframes fill {
  100% {
    box-shadow: inset 0px 0px 0px 30px $color--green;
  }
}

// -------------------------------------------------------------------------

svg {
  width: 20px;
  height: 20px;
}

#path {
  stroke-dasharray: 200;
  stroke-dashoffset: 400;

  animation: checker 2.8s linear;
  animation-fill-mode:forwards;
}

@keyframes checker {
  from {
    stroke-dashoffset: 320;
  }
  to {
    stroke-dashoffset: 400;
  }
}


#path2 {
  stroke-dasharray: 430;
  stroke-dashoffset: 800;

  animation: x 0.6s linear ;
  animation-fill-mode:forwards;
}

#path3 {
  stroke-dasharray: 430;
  stroke-dashoffset: 800;

  animation: x 0.6s linear ;
  animation-fill-mode:forwards;
  animation-delay:0.3s;
}

@keyframes x {
  from {
     stroke-dasharray: 430;
  }
  to {
     stroke-dasharray: 400;
  }
}
