#wrapper {
  display: flex;
  position: relative;
  height: 100%;
  width: 100%;

  .mat-card {
    width: 500px;
    margin: auto;
    margin-top: 100px;
    padding-bottom: 0;

    #header {
      margin-bottom: 30px;
    }

    .mat-form-field {
      width: 100%;
      padding: 0 5px;
    }

    #both {
      width: 50%;
    }

    .mat-raised-button {
      float: right;
      margin-bottom: 15px;
    }
  }
}
