#header-button {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;

  > div {
    display: flex;

    .mat-raised-button {
      margin-left: 15px;
    }
    .mat-icon-button {
      margin-left: 15px;
    }
  }
}

.mat-form-field {
  width: 100%;
}

table {
  width: 100%;

}

#table {
  margin-bottom: 30px;
}

tr.mat-row:hover {
  background: rgb(43, 43, 43);
}

tr.mat-row:active {
  background: rgb(43, 43, 43);
}
