#header-button {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;

  #leftmost {
    transform: translateX(-12px);
  }
  
  > div {
    display: flex;

    .mat-raised-button {
      margin-left: 15px;
    }
    .mat-icon-button {
      margin-left: 15px;
    }
    [matTooltip="more options"] {
      margin-left: 8px;
    }
  }
}

.mat-form-field {
  width: 100%;
}

table {
  width: 100%;
  margin-top: 8px;
}

#option {
  width: 100%;
  display: flex;
  
  .mat-icon-button {
    margin-left: auto;
  }
}

#table {
  margin-bottom: 30px;
}

.mat-progress-spinner {
  position: absolute;
  left: 0;
  right: 0;
  margin: 50px auto 0 auto;
}

tr.mat-row:hover {
  background: rgb(43, 43, 43);
}

tr.mat-row:active {
  background: rgb(43, 43, 43);
}
