<div class="wrap">
  <div id="header-button">
    <button mat-icon-button routerLink="/a">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <div>
      <!-- <button mat-raised-button>REMOVE BEVERAGE</button> -->
      <!-- <button mat-raised-button>UPDATE BEVERAGE</button> -->
      <!-- <button mat-raised-button (click)="openAdd()">TRANSACTION SETTINGS</button> -->

      <button mat-icon-button [disabled]="isDisabled" [matTooltip]="'update selected beverage'" (click)="openUpdate()"><mat-icon>update</mat-icon></button>
      <button mat-icon-button [disabled]="isDisabled" [matTooltip]="'remove selected beverage'" (click)="openRemove()"><mat-icon>delete</mat-icon></button>
      <button mat-icon-button [matTooltip]="'add beverage product'" (click)="openAdd()"><mat-icon>add_box</mat-icon></button>
    </div>
  </div>

  <mat-form-field color="accent">
    <input matInput autocomplete="off" (keyup)="applyFilter($event.target.value)" placeholder="Filter">
  </mat-form-field>

  <div class="mat-elevation-z8" id="table">
    <table mat-table [dataSource]="dataSource" matSort>

      <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
        <td mat-cell *matCellDef="let row">
          <mat-checkbox (click)="onSelectRow(row)"
                        (change)="$event ? selection.toggle(row) : selection.clear()"
                        [checked]="selection.isSelected(row)">
          </mat-checkbox>
        </td>
      </ng-container>

      <ng-container matColumnDef="beverageName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Beverage name </th>
        <td mat-cell *matCellDef="let row"> {{ row.beverageName }} </td>
      </ng-container>

      <ng-container matColumnDef="code">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Code </th>
        <!-- <td mat-cell *matCellDef="let row"> {{ row.code }} </td> -->
        <td mat-cell *matCellDef="let row"> {{ row.beverageGroup }} </td>
      </ng-container>

      <ng-container matColumnDef="beginning">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Beginning </th>
        <td mat-cell *matCellDef="let row" [style.color]="row.color"> {{ row.beginning }} </td>
      </ng-container>

      <ng-container matColumnDef="delivery">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Delivery </th>
        <td mat-cell *matCellDef="let row" [style.color]="row.color"> {{ row.beginning }} </td>
      </ng-container>

      <ng-container matColumnDef="waste">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> waste </th>
        <td mat-cell *matCellDef="let row" [style.color]="row.color"> {{ row.beginning }} </td>
      </ng-container>

      <ng-container matColumnDef="total">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Total </th>
        <td mat-cell *matCellDef="let row"> {{ row.total }} </td>
      </ng-container>

      <ng-container matColumnDef="ending">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Ending </th>
        <td mat-cell *matCellDef="let row"> {{ row.ending }} </td>
      </ng-container>

      <ng-container matColumnDef="sold">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Sold </th>
        <td mat-cell *matCellDef="let row"> {{ row.sold }} </td>
      </ng-container>

      <ng-container matColumnDef="sellingPrice">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Selling price </th>
        <td mat-cell *matCellDef="let row" [style.color]="row.color"> {{ row.sellingPrice }} </td>
      </ng-container>

      <ng-container matColumnDef="amount">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Amount </th>
        <td mat-cell *matCellDef="let row" [style.color]="row.color"> {{ row.amount }} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[12, 25, 100]" showFirstLastButtons></mat-paginator>
  </div>
</div>
