#wrapper {
  width: 600px;
  margin: -24px;

  .mat-icon {
    transform: translateY(-1px);
    margin-right: 7px;
  }

  .mat-form-field {
    width: 100%;
  }

  section {
    margin-bottom: 10px;
  }
}
