<div class="wrap">

  <mat-card routerLink="/a/account">
    <mat-card-content>
      <p>Account details</p>
      <div>
        <mat-icon>person</mat-icon>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card routerLink="/a/dashboard">
    <mat-card-content>
      <p>Admin dashboard</p>
      <div>
        <mat-icon>dashboard</mat-icon>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card routerLink="/a/help">
    <mat-card-content>
      <p>Help</p>
      <div>
        <mat-icon>build</mat-icon>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card routerLink="/a/preference">
    <mat-card-content>
      <p>Preference</p>
      <div>
        <mat-icon>settings</mat-icon>
      </div>
    </mat-card-content>
  </mat-card>

</div>
