#wrapper {
  height: 100%;
  width: 100%;
  padding-top: 30px;

  .mat-card {
    width: 600px;
    margin-bottom: 30px;

    #card-head {
      display: flex;
      flex-flow: row wrap;

      [element="1"] {
        margin: 0;
        flex-grow: 2;
      }

      [element="2"] {
        flex-grow: 1;
        display: flex;

        .mat-icon-button {
          margin: auto 0 auto auto;
        }
      }

      #last {
        margin: 0;
      }
    }
  }
}
