<div id="wrapper">

  <mat-card>
    <div id="card-head">
      <mat-card-title-group element="1">
        <mat-card-title>Account details</mat-card-title>
        <mat-card-subtitle>Review your acount details</mat-card-subtitle>
      </mat-card-title-group>
      <div element="2">
        <button mat-icon-button [routerLink]="['/', 'l', 'account']">
          <mat-icon>arrow_forward_ios</mat-icon>
        </button>
      </div>
    </div>
  </mat-card>

  <mat-card>
    <div id="card-head">
      <mat-card-title-group element="1">
        <mat-card-title>Logger dashboard</mat-card-title>
        <mat-card-subtitle>Review canteen beverage stall's transactions</mat-card-subtitle>
      </mat-card-title-group>
      <div element="2">
        <button mat-icon-button [routerLink]="['/', 'l', 'dashboard']">
          <mat-icon>arrow_forward_ios</mat-icon>
        </button>
      </div>
    </div>
  </mat-card>

  <mat-card>
    <div id="card-head">
      <mat-card-title-group element="1">
        <mat-card-title>Help</mat-card-title>
        <mat-card-subtitle>Contact your developer</mat-card-subtitle>
      </mat-card-title-group>
      <div element="2">
        <button mat-icon-button [routerLink]="['/', 'l', 'help']">
          <mat-icon>arrow_forward_ios</mat-icon>
        </button>
      </div>
    </div>
  </mat-card>

  <mat-card>
    <div id="card-head">
      <mat-card-title-group element="1">
        <mat-card-title>Preferences</mat-card-title>
        <mat-card-subtitle>Edit your account preferences and customize your app settings</mat-card-subtitle>
      </mat-card-title-group>
      <div element="2">
        <button mat-icon-button [routerLink]="['/', 'l', 'preferences']">
          <mat-icon>arrow_forward_ios</mat-icon>
        </button>
      </div>
    </div>
  </mat-card>

  <mat-card>
    <div id="card-head">
      <mat-card-title-group element="1">
        <mat-card-title id="last">Sign out</mat-card-title>
        <!-- <mat-card-subtitle>Edit your account preferences and customize your app settings</mat-card-subtitle> -->
      </mat-card-title-group>
      <div element="2">
        <button mat-icon-button (click)="onSignOut()">
          <mat-icon>arrow_forward_ios</mat-icon>
        </button>
      </div>
    </div>
  </mat-card>

</div>
