#divider {
  margin: 16px 0;
}

.container {
  margin: -24px;
  padding: 24px;
  width: 425px;
  height: 700px;
  overflow-y: auto;
}

#wrapper {
  width: 100%;
  margin-top: 16px;

  div {
    flex-grow: 1;
    margin: 0 5px;

    .light {
      color: #b3b3b3;
      margin: 0;
      font-size: 12px;
    }
  }

  .mat-form-field {
    width: 100%;
  }

  form > div {
    display: flex;
    margin: 0;

    > div:first-child {
      margin: 0 2px 0 0;
      width: 153px
    }

    > div:last-child {
      margin: 0 0 0 2px;
      width: 153px
    }
  }
}

#buttons {
  display: flex;

  button:first-child {
    margin-left: auto;
  }

  button:last-child {
    margin-left: 8px;
  }
}
