#divider {
  margin: 16px 0;
}

.container {
  padding: 0;
  // margin: -24px;
  // padding: -24px;
  // overflow: auto;
}

#wrapper {
  width: 425px;
  margin-top: 16px;
  // margin: 0 -24px 0 -24px;
  // display: flex;
    
  form {
    // width: 425px;
    // height: 500px;
    // padding: 0 -24px 0 -24px;
    // overflow: auto;
  }

  div {
    flex-grow: 1;
    margin: 0 5px;

    .light {
      color: #b3b3b3;
      margin: 0;
      font-size: 12px;
    }
  }

  .mat-form-field {
    width: 100%;
  }

  form > div {
    display: flex;
    margin: 0;
    width: auto;
    width: 425px / 2;

    .mat-form-field {
      width: 100%;
    }

    > div:first-child {
      width: 207.5px;
      margin: 0 5px 0 0;
    }

    > div:last-child {
      width: 207.5px;
      margin: 0 0 0 5px;
    }
  }
}

#buttons {
  display: flex;

  button:first-child {
    margin-left: auto;
  }

  button:last-child {
    margin-left: 8px;
  }
}
