#header-button {
  margin-top: 15px;

  .mat-icon-button {
    float: left;
  }

  .mat-raised-button {
    float: right;
  }
}

.mat-form-field {
  width: 100%;
}

table {
  width: 100%;
}

#table {
  margin-bottom: 15px;
}

tr.mat-row:hover {
  background: rgb(43, 43, 43);
}

tr.mat-row:active {
  background: rgb(43, 43, 43);
}
