#register {
  position: absolute;
  height: 100vh;
  width: 100vw;
  display: flex;

  > div {
    margin: auto 0 0 auto;

    .mat-raised-button {
      margin: 25px 25px 25px 12.5px;
    }

    a > .mat-raised-button {
      margin: 25px 12.5px;
    }
  }
}

#wrapper {
  display: flex;
  height: 100vh;

  .mat-card {
    margin: auto;
    width: 350px;
    padding-bottom: 0;
    transform: translateY(-20%);

    h1 {
      margin-bottom: 20px;
    }

    .mat-form-field {
      width: 100%;
    }

    .mat-raised-button {
      float: right;
      margin-bottom: 15px;
    }
  }
}
